<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <plugins>
        <plugin interceptor="com.admin.common.page.MysqlPagingPlugin"/>
    </plugins>
    <mappers>
        <mapper resource="mybatis/permission/resource.xml"/>
        <mapper resource="mybatis/permission/operator.xml"/>
        <mapper resource="mybatis/permission/role.xml"/>

    </mappers>
</configuration>